.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    text-overflow: ellipsis;
    white-space: pre-line;
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-color: #333;
    z-index: -1;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 50px 8px 32px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #b5e853;
    background-color: #151515;
    -webkit-animation: Glow 0.1s ease infinite alternate;
    animation: Glow 0.1s ease infinite alternate;
}

.sidenav a:hover:not(.active) {
    background-color: #151515;
}

.sidenav a p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.top-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top-bar li {
    float: left;
}

.top-bar li:last-child {
    float: right;
}

.top-bar li a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.top-bar li a:hover, .offcanvas a:focus {
    color: #b5e853;
    background-color: #151515;
    -webkit-animation: Glow 0.1s ease infinite alternate;
    animation: Glow 0.1s ease infinite alternate;
}

.page-header {
    background: #151515 url("bkg.png") 0 0;
}

.page-header h1 {
    color: #b5e853;
}

.page-header h2 {
    color: #b5e853;
}

.main-content a {
    text-decoration: none;
    color: #818181;
    transition: 0.1s;
}

.main-content a:hover, .offcanvas a:focus {
    color: #b5e853;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    transition: margin-left .5s;
    background-color: white;
}

#not-top {
    width: 100%;
    position: absolute;
    z-index: 0;
    background-color: #333;
}

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 5px;}
    .sidenav a {font-size: 18px;}
}

@-webkit-keyframes Glow {
    from {
        text-shadow: 0 0 40px #b5e853;
    }
    to {
        text-shadow: 0 0 40px #b5e853;
    }
}
@keyframes Glow {
    from {
        text-shadow: 0 0 40px #b5e853;
    }
    to {
        text-shadow: 0 0 40px #b5e853;
    }
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?69690424');
    src: url('../font/fontello.eot?69690424#iefix') format('embedded-opentype'),
         url('../font/fontello.woff?69690424') format('woff'),
         url('../font/fontello.ttf?69690424') format('truetype'),
         url('../font/fontello.svg?69690424#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

:target:before {
    content: "";
    display: block;
}

.demo-icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
	display: inline-block;
	font-family: 'Lucida Console', Monaco, monospace;
	-webkit-font-smoothing: antialiased;
	position: relative;
	background: #333;
	border: none;
	transition: .2s;
	padding: 0em;
    color: #b5e853;
    box-shadow: 7px 7px #999;
}

#button-left {
  float: left;
  padding: 15px;
}

#button-right {
  display: block;
  float: right;
  padding: 15px 15px 15px 18px;
  background: #151515;
  text-align: center;
}

.button:hover, .offcanvas .button:focus {
	color:#b5e853;
	-webkit-animation: Glow 0.1s ease infinite alternate;
    animation: Glow 0.1s ease infinite alternate;
}

.button:active {
    color: #b5e853;
    -webkit-animation: Glow 0.1s ease infinite alternate;
    animation: Glow 0.1s ease infinite alternate;
    box-shadow: 5px 5px #666;
    transform: translateY(2px);
}

.main-article-content{
    float: left;
    display:table-cell;
    top: auto;
    left: auto;
    position: relative;
}

.main-article-content p , dt {
	-webkit-margin-before: 0px;
	-webkit-margin-end: 0px;
	-webkit-margin-after: 0px;
	line-height: 0.5;

}

.main-article {
	display: table-cell;
}