.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background-color: #333;
    margin-top: 52px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #b5e853;
    -webkit-animation: Glow 0.1s ease infinite alternate;
    animation: Glow 0.1s ease infinite alternate;
}

.top-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 55px;
}

.top-bar li {
    float: left;
}

.top-bar li a {
    font-size: 18px;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.top-bar li a:hover, .offcanvas a:focus {
    color: #b5e853;
    -webkit-animation: Glow 0.1s ease infinite alternate;
    animation: Glow 0.1s ease infinite alternate;
}

.page-header {
    background: #151515 url("bkg.png") 0 0;
}

.page-header h1 {
    color: #b5e853;
}

.page-header h2 {
    color: #b5e853;
}

.main-content a {
    text-decoration: none;
    color: #818181;
    transition: 0.1s;
}

.main-content a:hover, .offcanvas a:focus {
    color: #b5e853;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

#not-top {
    top: 55px;
    width: 100%;
    position: absolute;
    z-index: 0;
}

.openbutton {
    text-align: left;
    font-size: 25px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 5px;}
    .sidenav a {font-size: 18px;}
}

@-webkit-keyframes Glow {
    from {
        text-shadow: 0 0 40px #b5e853;
    }
    to {
        text-shadow: 0 0 40px #b5e853;
    }
}
@keyframes Glow {
    from {
        text-shadow: 0 0 40px #b5e853;
    }
    to {
        text-shadow: 0 0 40px #b5e853;
    }
}