<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/main.css">
    <link rel="stylesheet" href="../assets/mermaid.forest.css">
    <link rel="stylesheet" href="../assets/animation.css">
  </head>
  <body>

      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            processEscapes: true
            }
        });
    </script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        }
        });
    </script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Queue(function() {
            var all = MathJax.Hub.getAllJax(), i;
            for(i=0; i < all.length; i += 1) {
                all[i].SourceElement().parentNode.className += ' has-jax';
            }
        });
    </script>

    <script type="text/javascript">
      var is_open = false;
      function openNav() {
        document.getElementById("mySidenav-off").id = "mySidenav-on";
        $('.main').css({
          'opacity': 0.4
        });
      }
      /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
      function closeNav() {
        document.getElementById("mySidenav-on").id = "mySidenav-off";
        $('.main').css({
          'opacity': 1
        });
      }
      function clickbutton() {
        if (is_open == false)
        {
          openNav();
          is_open = true;
        }
        else {
          closeNav();
          is_open=false;
        }
      }
    </script>

    <script type="text/javascript"  src="../js//MathJax/MathJax.js"></script>
    <script src="../js/jquery.min.js"></script>
    <div class="top-bar">
    <ul>
      <li><a href="javascript:clickbutton()">&#9776;</a></li>
      <li><a href="https://ybch14.github.io"><i class="demo-icon icon-home">&#xe800;</i>  Home</a></li>
      <li><a href="javascript:window.scroll(0, 0)"><i class="demo-icon icon-up-big">&#xe803;</i> Top</a></li>
      <li><a href="../Other/update.html"><i class="demo-icon icon-plus">&#xe802;</i> Updates</a></li>
      <li><a href="https://github.com/ybch14"><i class="demo-icon icon-github-circled">&#xf09b;</i></a></li>
    </ul>
    </div>
    <div id="not-top">
      <script type="text/javascript" src="../js/toc.js"></script>
      <div id="mySidenav-off" class="sidenav" ></div>
      <div id="Main" class="main">
        <section class="page-header">
          <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
          <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
          {% if site.github.is_project_page %}
            <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
          {% endif %}
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
          {% endif %}
        </section>

        <div class="main-article-content" id="myMainSideNav"></div>
        <section class="main-content">
          <div class="main-article">
          {{ content }}
          <footer class="site-footer">
            {% if site.github.is_project_page %}
              <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}
            <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
          </footer>
          </div>
          <br style="clear: both;" />
        </section>
      </div>

      <script type="text/javascript">
        $(document).ready(function() {
          $('#myMainSideNav').toc();
        });
      </script>

      <script>
        jQuery(function($) {
          var content_width = $('#myMainSideNav').width() + 120;
          var content_offset_top = $('#myMainSideNav').position().top;
          function RecalculateWhenResize() {
            var $content = $('#myMainSideNav');
            var article_left = $('.main-article').position().left;
            if (article_left < content_width)
            {
              $content.css({
                'position': 'relative',
                'display': 'block', 
                'float': 'none',
                'left': article_left + 'px',
                'top': 'auto'
              });
              $('.main-article').css({
                'display': 'block'
              });
            }
            else {
              if ($(window).scrollTop() > content_offset_top) {
                var top_bar_height = $('.top-bar ul')[0].offsetHeight;
                $content.css({
                  'position': 'fixed',
                  'display': 'inline-block',
                  'float': 'left',
                  'top': top_bar_height + 'px',
                  'left': (article_left - content_width + 60) + 'px'
                });
                $('.main-article').css({
                  'display': 'inline-block'
                });
              }
              else {
                $content.css({
                  'position': 'relative',
                  'display': 'inline-block',
                  'float': 'left',
                  'top': 'auto',
                  'left': (article_left - content_width + 60) + 'px'
                });
                $('main-article').css({
                  'display': 'inline-block'
                });
              }
            }
          }
          $(window).scroll(RecalculateWhenResize);
          $(window).resize(RecalculateWhenResize);
          RecalculateWhenResize();
        });
      </script>

  </div>
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>